.body {
  background: rgb(213, 211, 210);
  border-radius: 10;
}
.header {
  border-radius: 10;
  display: flex;
  background: rgb(154, 153, 152);
  justify-content: space-between;
  border: 1px solid black;
}
.footer {
  border-radius: 10;
  display: flex;
  background: rgb(154, 153, 152);
  justify-content: space-between;
  border: 1px solid black;
  height: 300px;
}
.logo {
  width: 200px;
}
.nev-items {
  padding: 0px 20px;
}
.nev-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nev-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10;
  padding: 5px;
}
.res-card {
  border-radius: 10;
  padding: 10px;
  width: 300px;
  height: 500px;
  margin: 10px;
  background: rgb(248, 46, 6);
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.Smrfilter-btn {
  background: rgb(179, 178, 178);
  border-radius: 10;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  width: 300px;
}
.filter-btn {
  border: 1px solid black;
  border-radius: 10;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  width: 300px;
}
.filter-btn :hover {
  cursor: pointer;
  background: rgb(248, 46, 6);
}
.res-log {
  width: 100%;
  height: 40%;
}
.shimmer-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10;
  padding: 5px;
}
.shimmer-card {
  border-radius: 10;
  padding: 10px;
  width: 300px;
  height: 500px;
  margin: 10px;
  background: rgb(179, 178, 178);
}
.login {
  padding: 0 20px;
  cursor: pointer;
  border-radius: 10;
}
.list {
  border-radius: 10;
  padding: 10px;
  margin: 10px;
}
.list :hover {
  cursor: pointer;
  border-radius: 10;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background: rgb(243, 240, 240);
}
.filter {
  display: flex;
}
.search-box {
  border: 1px solid black;
  border-radius: 10;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  width: 300px;
}
.serchbtn {
  border: 1px solid black;
  border-radius: 10;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10;
  margin: 5px;
  width: 400px;
}
.usercontainer {
  display: flex;
}
